




.drag-drop {
    background-color: #fdd737;
    padding: 5rem 0;
}
.drag-drop__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    padding: 0 3rem;
}

.drag-drop__item {
    background-color: #fffff9;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .5rem .5rem 1rem 0 rgba(0,0,0,0.3);
}

.drag-drop__title {
    color: #F7F9F9;
}
.drag-drop__block {
    background-color: #00A676;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 13rem;
    width: 13rem;
    cursor: pointer;
    color: #f7f7f7;

}

.hold {
    border: 3px solid #ccc;
}

.hovered {
    background: #f4f4f4;
    border: 3px #00A676 dashed;
}

.invisible {
    display: none;
}

.modal_btn {
    background-color: #00A676;
    padding: 1rem;
    font-family: inherit;
    border: none;
    color: #f7f7f7;
    outline: none;
    transition: all 1s;
}

.modal_btn:hover {
    background-color: #00805b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 10rem 2rem;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.closeBtn {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2.4rem;
    color: #ccc;

}

.closeBtn:hover, .closeBtn:focus {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.modals {
    height: 30rem;
    padding-top: 2rem;
    background-color: #F7F9F9;
}

.modals__container {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.page__footer {
    background-color: #00A676;
    padding: 3rem 1rem;
    color: #f7f7f7;
}
@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showAcc {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}
