/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #565353; }

.container {
  width: 100%;
  position: relative; }

.page__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem; }

.page__footer {
  background-color: #00A676;
  padding: 3rem 1rem;
  color: #f7f7f7; }

/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
.sidebar {
  width: 100%;
  background-image: linear-gradient(to bottom, #00A676, #40fd8c);
  min-height: 30rem;
  position: absolute;
  top: 1.5%;
  left: -100rem;
  opacity: 0;
  transition: all 1s;
  color: #ffffff; }
  .sidebar__list {
    list-style: none;
    padding: 1rem; }
  .sidebar__list-item {
    transition: transform 1s;
    margin-bottom: 1rem; }
    .sidebar__list-item:hover {
      transform: translateX(1rem);
      cursor: pointer; }

.menu {
  padding: 1rem;
  background-color: #00A676;
  display: flex;
  justify-content: space-between; }
  .menu__title {
    color: #ffffff;
    font-weight: 700; }
  .menu__bar {
    width: 3rem;
    height: .3rem;
    background-color: #ffffff;
    margin-bottom: .5rem; }
    .menu__bar__--bottom {
      margin-bottom: 0; }

/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
.first {
  width: 100%;
  background-color: #F7F9F9;
  color: #565353;
  min-height: 30rem;
  padding: 1rem;
  display: flex;
  justify-content: center; }
  .first__main {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 2.6rem;
    padding-top: 25%; }
  .first__second {
    text-align: center;
    padding-bottom: 25%; }

/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
.page__carousel {
  margin-top: 2rem; }

.slider {
  width: 80rem;
  height: 50rem;
  position: relative;
  overflow: hidden;
  margin: 2rem auto 3rem;
  -webkit-box-shadow: 0 1rem .6rem -.6rem #777;
  -moz-box-shadow: 0 1rem .6rem -.6rem #777;
  box-shadow: 0 1rem .6rem -.6rem #777; }
  .slider__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 1000rem;
    display: flex;
    transition: left 1s; }
  .slider__item {
    width: 80rem;
    height: 50rem; }
  .slider__image {
    width: 100%;
    height: 100%; }
  .slider__btn {
    position: absolute;
    top: 50%;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0;
    background: rgba(0, 0, 0, 0.11);
    color: #fff;
    font-size: 2.4rem;
    outline: none;
    margin-top: -2.5rem;
    cursor: pointer; }

.slider_next {
  right: 2rem; }

.slider_prev {
  left: 2rem; }

/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
.accordions {
  background-color: #56366f;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .accordions__title {
    color: #F7F9F9; }

.hor-accordion {
  width: 80rem;
  margin: 0 auto;
  background-color: #0e1f3e;
  padding: 1rem;
  border-radius: .5rem; }

.acc-item__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  color: #f7f7f7;
  font-weight: bold; }

.acc-item__info {
  width: 70%; }

.acc-item__icon {
  width: 10%; }

.acc-item__content {
  animation-name: showAcc;
  animation-duration: 2s;
  display: none; }

.content__visible {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; }

.active {
  background-color: #283854; }

.acc-item__card {
  border: 2px solid #f7f7f7;
  padding: 1.5rem;
  width: 32%;
  color: #f7f7f7;
  font-weight: bold;
  font-size: 1.4rem; }

.acc-item__head {
  margin-bottom: 1rem; }

.acc-item__fa-icon {
  margin-right: .5rem; }

.accordion-css {
  display: flex;
  margin: 2rem auto; }

.accordio__item {
  display: flex;
  height: 16rem;
  overflow: hidden;
  transition: all 1s;
  position: relative; }

.accordio__left {
  background-color: #0e1f3e;
  width: 6rem;
  transition: width 1s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.accordio__right {
  background-color: #0e1f3e;
  width: 35rem;
  opacity: 0;
  position: absolute;
  left: 0;
  transition: all 1s;
  color: #fff;
  padding: 3rem 1rem;
  font-size: 1.4rem; }

.accordio__item:hover .accordio__right {
  opacity: 1;
  left: 0; }

.accordio__item:hover .accordio__left {
  width: 35rem; }

/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
.drag-drop {
  background-color: #fdd737;
  padding: 5rem 0; }
  .drag-drop__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    padding: 0 3rem; }
  .drag-drop__item {
    background-color: #fffff9;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.3); }
  .drag-drop__title {
    color: #F7F9F9; }
  .drag-drop__block {
    background-color: #00A676;
    display: flex;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #f7f7f7; }

.hold {
  border: 3px solid #ccc; }

.hovered {
  background: #f4f4f4;
  border: 3px #00A676 dashed; }

.invisible {
  display: none; }

/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/
.modal_btn {
  background-color: #00A676;
  padding: 1rem;
  font-family: inherit;
  border: none;
  color: #f7f7f7;
  outline: none;
  transition: all 1s; }
  .modal_btn:hover {
    background-color: #00805b; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-content {
  position: relative;
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 10rem 2rem;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s; }

.closeBtn {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 2.4rem;
  color: #ccc; }
  .closeBtn:hover {
    cursor: pointer;
    color: #000000;
    text-decoration: none; }
  .closeBtn:focus {
    cursor: pointer;
    color: #000000;
    text-decoration: none; }

.closeBtn:hover, .closeBtn:focus {
  cursor: pointer;
  color: #000;
  text-decoration: none; }

.modals {
  height: 30rem;
  padding-top: 2rem;
  background-color: #F7F9F9; }

.modals__container {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem; }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes showAcc {
  from {
    opacity: 0;
    display: none; }
  to {
    opacity: 1;
    display: block; } }
