$font-family: 'Montserrat', sans-serif;
$font-size: 62.5%;
$line-height: 1.5;
$font-weight: 400;

$color-green-menu: #00A676;
$color-green-sidebar: #40fd8c;
$color-light-grey: #F7F9F9;
$color-grey: #ccc;
$color-text-primary: #565353;
$color-white: #ffffff;

$color-black: #000000;
$color-dark-blue: #0e1f3e;
$color-acc-blue: #283854;
$color-acc-violet: #56366f;

$color-bright-yellow: #fdd737;

/*
#00A676 - green
#F7F9F9 - ghost white
#E0D0C1 - dust storm
#A76D60 - blast off bronze
#601700 - french puce
*/